.divContainerError {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding: 10px 20px;
  min-height: 75vh;
}
.h1Error {
  font-size: 45px;
  color: #fff;
  text-align: center;
}
.imgError {
  width: 800px;
  height: auto;
}
