.containerAbout {
    height: 75vh;
    padding: 10px 20px;
}
.h1About {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}
.divAbout {
  padding: 0px 50px;
}
.pAbout {
  color: #bec6d1;
  font-size: 24px;
  text-align: justify;
  line-height: 1.2;
}
