body {
  background-color: #11161f;
  margin-top: 0;
  padding: 10px;
}

.h1 {
  display: block;
  font-size: 60px;
  margin: 0 auto;
  text-align: center;
  color: #a77efa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textContainer {
  display: inline;
}

.fixedText {
  color: #bec6d1;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin-right: 10px;
}

.changingText {
  font-style: italic;
  font-weight: 600;
  color: #a77efa;
}

.loopingText {
  display: block;
  white-space: nowrap;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 20px;
  line-height: 50px;
}

.burbujas {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.burbuja {
  position: relative;
  width: 15px;
  height: 15px;
  background: #bec6d1;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #bec6d144, 0 0 50px #bec6d1, 0 0 100px #bec6d1;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
  z-index: -1;
}

.burbuja:nth-child(even) {
  background: #bec6d1;
  box-shadow: 0 0 0 10px #bec6d144, 0 0 50px #bec6d1, 0 0 100px #bec6d1;
}

@keyframes animate {
  0% {
    transform: translateY(-10vh) scale(0.2);
  }
  100% {
    transform: translateY(190vh) scale(0.2);
  }
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .fixedText {
    font-size: 20px;
  }

  .loopingText {
    font-size: 14px;
  }
}
